@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
}

body {
  background: black;
  color: white;
}

/* input */
input {
  color: white;
}

/* textarea */
textarea {
  color: white;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #71717a;
}

/* autofill対策 */
input:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}